<!-- Página de default -->
<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}  <!-- agregar header.hbs-->
        <p>{{errorMessage}}</p>
    </div>
    {{>footer}}  <!-- agregar footer.hbs-->
</body>

</html>
