<!-- Página About -->
<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}  <!-- agregar header.hbs-->
        <p>This site was created by Sonia Perez. It uses data from mapbox.con and darksky.net</p>
        <img class="portrait" src="../img/me.png">
    </div>
    {{>footer}}  <!-- agregar footer.hbs-->
</body>

</html>
